
<form method="post" asp-controller="Meeting" asp-action="CreateMeeting">

    <div class="row mb-4">

        <div class="col-6">

            <h2> 1. Choose a magical meeting name</h2>
            <input class="col-8" type="text" name="Name" placeholder="Movie Hangout" required />
            <button id="MeetingNameBtn" class="rounded ml-4 col-3" type="button">Continue</button>

        </div>

    </div>

    <div id="HourPanel" class="row mb-4">

        <div class="col-6">

            <h2>2. Choose the hours you can meet between</h2>
            from:
            <input class="col-3" name="StartHour" type="number" placeholder="07" required min="0" max="24" />
            &nbsp;&nbsp;&nbsp; to:
            <input class="col-3" name="EndHour" type="number" placeholder="18" required min="0" max="24" />
            <button class="rounded ml-4 col-3" type="submit">Continue</button>



        </div>

    </div>

    <div id="DatePanel" class="row mb-4">

        <div class="col-6">

            <h2>3. Choose the dates you want can between</h2>

            from:
            <input class="col-3" name="StartDay" type="date" required />
            &nbsp;&nbsp;&nbsp; to:
            <input class="col-3" name="EndDay" type="date" required />
            <button class="rounded ml-4 col-3" type="submit">Finish</button>


        </div>

    </div>

</form>

@section Scripts {

    <script>

        $("#MeetingNameBtn").on("click", function () {
            $("#HourPanel").slideDown("slow");
        });

    </script>

}
