<div class="row">

    <div class="col-6">

        <form method="post" asp-controller="Meeting" asp-action="CreateMeeting">

            <h2 class="fw-bold">1. Choose a magical meeting name</h2>
            <input class="col-8" type="text" name="meetingName" placeholder="Movie Hangout" />
            <button class="rounded ml-4 col-3" type="submit">Create Meeting</button>

         </form>

    </div>

</div>