@model AspNetCore.Data.Models.User


@if (Model == null)
{

    <div class="row">

        <div class="col-6">
            <h1 class="fw-bold">1. Choose an awesome username</h1>
            <input type="text" placeholder="John Smith" class="col-9 mb-2" id="UserName" />
            <button id="CreateUserBtn" class="float-end col-3">Continue</button>
        </div>

        <div class="col-6">

            <h1 class="fw-bold">Or enter your username to sign in</h1>

            <form method="post" asp-controller="User" asp-action="LogIn">

                <input type="text" name="UserName" placeholder="John Smith" class="col-9 mb-2" id="UserName" />
                <button type="submit" id="SignInBtn" class="float-end col-3">Sign In</button>

            </form>

        </div>

    </div>
} else
{
    <div class="row">

        <h1 class="fw-bold">Signed in as: @Model.UserName</h1>

    </div>
}


<div class="row panel col-6" id="MeetingPanel">

    <h1 class="fw-bold">2. Choose a magical meeting name</h1>
    <input type="text" placeholder="Movie Hangout" class="col-9 mb-2" id="MeetingName" />
    <button id="CreateMeetingBtn" class="float-end col-3">Continue</button>

</div>




<div class="col-6 panel" id="TablePanel">

    <h1 class="fw-bold">3. Select some times to meet!</h1>

    <div class="d-inline-block text-center">

        <table id="simpleTable">

            <thead id="simpleTableHeader">
                <tr>
                    <th>
                        Monday
                    </th>
                    <th>
                        Tuesday
                    </th>
                    <th>
                        Wednesday
                    </th>
                    <th>
                        Thursday
                    </th>
                    <th>
                        Friday
                    </th>
                    <th>
                        Saturday
                    </th>
                    <th>
                        Sunday
                    </th>
                </tr>
            </thead>

        </table>

        <div class="col-4 d-inline-block">

            <button id="Submit" class="float-end">Create Meeting!</button>

        </div>

    </div>

</div>







@*<div class="text-wrap d-inline-block col-5">
    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
</div>
*@

@section Scripts {


    <script>

        window.onload = function() { 
            CreateTable();
            TableSelector();
        }

        function CreateTable() {

            SimpleBlocks.forEach(function (timeBlock) {
                var row = document.createElement("tr");
                Days.forEach(function (day) {

                    var td = document.createElement("td");
                    td.setAttribute("timeblock", timeBlock.Number);
                    td.setAttribute("day", day.Number);

                    var text = document.createTextNode(timeBlock.Name);
                    td.appendChild(text);

                    row.appendChild(td);

                });

                var table = document.querySelector("#simpleTable");
                table.appendChild(row)
            });

        }

        function TableSelector() {

            $('td').on('mousedown', function mouseState(e) {

                if (e.type == "mousedown") {

                    var td = $(this);

                    if (td.hasClass("selected-block")) {
                        td[0].classList.remove("selected-block");
                    } else {
                        td[0].classList.add("selected-block");
                    }
                }
                    
            });

        }

        $("#CreateUserBtn").on("click", function () {
            $("#MeetingPanel").slideDown("slow");
        });

        $("#CreateMeetingBtn").on("click", function () {
            $("#TablePanel").slideDown("slow");
        });


        $("#Submit").on("click", function() {

            var userName = $("#UserName").val();

            var data = {
                UserName: userName
            }

            //Create User
            $.ajax({
                type: "POST",
                url: "user/create",
                dataType: "json",
                data: data,
                success: function (userId) {

                    CreateMeeting()
                    SubmitBlocks(userId)

                },
                error: function (response) {
                    alert(response.responseText)
                }

            });

            function CreateMeeting() {

                var meetingName = $("#MeetingName").val();

                var data = {
                    "meetingName": meetingName,
                };

                $.ajax({
                    type: "POST",
                    url: "Meeting/Create",
                    dataType: "json",
                    data: data,
                });
            }

            function SubmitBlocks(userId) {

                var table = document.querySelector("#simpleTable");
                var selected = table.getElementsByClassName("selected-block");
                var blocks = [];

                for (item of selected) {

                    var timeblock = { "Day": item.getAttribute("day"), "SimpleBlock": item.getAttribute("timeblock") }
                    blocks.push(timeblock);
                }

                var data = {
                    "userId": userId,
                    "blocks": blocks
                };

                $.ajax({
                    type: "POST",
                    url: "home/UserBlocks",
                    dataType: "json",
                    data: data,

                });
            }

        });

    </script>

}