
<div class="row mb-4">


    <input id="StartHourText" class="col-3 rounded" type="text" placeholder="John Smith" />
    <input id="EndHourText" class="col-3 rounded" type="text" placeholder="John Smith" />
    <button id="CreateTimezoneBtn" class="col-3 rounded ml-4">pain</button>
    <button id="PainBtn2" class="col-3 rounded ml-4">PAIN 2</button>
</div>

<style>

    td {
        border: 1px solid black;
        font-size: 16px;
        padding: 1px;
    }

    table {
        border-collapse: collapse;
        text-align: center;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */

    }
</style>

<div class="row">

    <table id="PainTable">

        <thead>
            <tr>
                <th>
                    Monday
                </th>
                <th>
                    Tuesday
                </th>
                <th>
                    Wednesday
                </th>
                <th>
                    Thursday
                </th>
                <th>
                    Friday
                </th>
                <th>
                    Saturday
                </th>
                <th>
                    Sunday
                </th>
            </tr>
        </thead>

    </table>

</div>


<div class="row">

    <div class="col-6 mb-4">
        <h2 class="fw-bold">1. Choose an awesome username</h2>
        <input type="text" placeholder="John Smith" class="col-8 rounded" id="UserName" />
        <button id="CreateUserBtn" class="col-3 rounded ml-4">Continue</button>
    </div>

</div>

<div class="col-9 panel mb-4" id="TablePanel">

    <h2 class="fw-bold">2. Click on all the times you are free</h2>

    <div class="d-inline-block text-center">

        <table id="simpleTable">

            <thead id="simpleTableHeader">
                <tr>
                    <th>
                        Monday
                    </th>
                    <th>
                        Tuesday
                    </th>
                    <th>
                        Wednesday
                    </th>
                    <th>
                        Thursday
                    </th>
                    <th>
                        Friday
                    </th>
                    <th>
                        Saturday
                    </th>
                    <th>
                        Sunday
                    </th>
                </tr>
            </thead>

        </table>

        <div>

            <button id="SubmitTimeblocksBtn" class="rounded col-2">Update</button>

        </div>

    </div>

</div>

<div class="row panel" id="MeetingPanel">

    <div class="col-6">

        <form method="post" asp-controller="Meeting" asp-action="CreateMeeting">

            <h2 class="fw-bold">3. Choose a magical meeting name</h2>
            <input type="text" name="meetingName" placeholder="Movie Hangout" class="col-8 mb-2" />
            <button type="submit" class="rounded ml-4 col-3">Create Meeting</button>

         </form>

    </div>

</div>

@section Scripts {

    <script>

        $(document).ready(function () {

        });

    </script>

    <script>


        var isMouseDown = false;

        $("#CreateTimezoneBtn").on("click", function () {

            var StartHour = $("#StartHourText").val()
            var EndHour = $("#EndHourText").val()

            for (let i = StartHour; i <= EndHour; i++) {

                var row = document.createElement("tr");

                Days.forEach(function (day) {

                    var td = document.createElement("td");
                    var text = document.createTextNode(String(i) + "-" + String( parseInt(i) + 1 ));

                    td.setAttribute("day", day.Number);
                    td.setAttribute("hour", i);

                    td.appendChild(text);
                    row.appendChild(td);

                });

                var table = document.querySelector("#PainTable");
                table.appendChild(row);

            }

            // Event handler for mouse down on a cell
            $("td").mousedown(function () {
                isMouseDown = true;
                changeCellColor(this);
            });

            // Event handler for mouse over a cell while dragging
            $("td").mouseover(function () {
                if (isMouseDown) {
                    changeCellColor(this);
                }
            });

            // Event handler for mouse up anywhere on the page
            $(document).mouseup(function () {
                isMouseDown = false;
            });

            function changeCellColor(cell) {

                var td = $(cell);

                if (td.hasClass("selected-block")) {
                    td[0].classList.remove("selected-block");
                } else {
                    td[0].classList.add("selected-block");
                }

            }


        });

        $("#PainBtn2").on("click", function () {
            PainBlocks()
        });

        function PainBlocks() {

            var table = document.querySelector("#PainTable");
            var selected = table.getElementsByClassName("selected-block");
            var blocks = [];

            for (item of selected) {

                var timeblock = { "Day": item.getAttribute("day"), "Hour": item.getAttribute("hour") }
                blocks.push(timeblock);
            }

            var data = {
                "userId": _userId,
                "blocks": blocks
            };

            console.log(data);

            $.ajax({
                type: "POST",
                url: "/User/ComposeTimeBlocks",
                dataType: "json",
                data: data,

            }).done(function () {
                //alert("success");
            })
        }

    </script>

    <script>

        window.onload = function() { 
            CreateTable();
            TableSelector();
        }

        function CreateTable() {

            SimpleBlocks.forEach(function (timeBlock) {
                var row = document.createElement("tr");
                Days.forEach(function (day) {

                    var td = document.createElement("td");
                    td.setAttribute("timeblock", timeBlock.Number);
                    td.setAttribute("day", day.Number);

                    var text = document.createTextNode(timeBlock.Name);
                    td.appendChild(text);

                    row.appendChild(td);

                });

                var table = document.querySelector("#simpleTable");
                table.appendChild(row)
            });

        }

        function TableSelector() {

            $('td').on('mousedown', function mouseState(e) {

                if (e.type == "mousedown") {

                    var td = $(this);

                    if (td.hasClass("selected-block")) {
                        td[0].classList.remove("selected-block");
                    } else {
                        td[0].classList.add("selected-block");
                    }
                }
                    
            });

        }

    </script>

    <script>

        var _userId = null;

        $("#CreateUserBtn").on("click", function () {
            $("#TablePanel").slideDown("slow");
            CreateUser();
        });

        $("#SubmitTimeblocksBtn").on("click", function () {
            $("#MeetingPanel").slideDown("slow");
            UpdateUserBlocks();
        });

        function CreateUser() {

            var userName = $("#UserName").val();

            var data = {
                UserName: userName
            }

            $.ajax({
                type: "POST",
                url: "/User/CreateNewUser",
                dataType: "json",
                data: data,

                success: function (userId) {
                    _userId = userId;
                },

                error: function (response) {
                    alert(response.responseText)
                }

            });
        }

        function UpdateUserBlocks() {

            var table = document.querySelector("#simpleTable");
            var selected = table.getElementsByClassName("selected-block");
            var blocks = [];

            for (item of selected) {

                var timeblock = { "Day": item.getAttribute("day"), "SimpleBlock": item.getAttribute("timeblock") }
                blocks.push(timeblock);
            }

            var data = {
                "userId": _userId,
                "blocks": blocks
            };

            $.ajax({
                type: "POST",
                url: "/User/UpdateUserTimeBlocks",
                dataType: "json",
                data: data,
            }).done(function () {
                //alert("success");
            })
        }

    </script>

}