@model AspNetCore.Data.Models.Meeting

<div class="row mb-4">

    <div class="col-6">

        <h2 class="fw-bold">1. Choose an awesome username name</h2>
        <input id="UserNameInput" class="col-8" type="text" placeholder="John Smith" />
        <button id="CreateUserBtn" class="rounded ml-4 col-3">Continue</button>

    </div>

</div>

<div id="TablePanel" class="row panel">

    <h2 class="fw-bold">2. Choose when you're down to hang</h2>

    <table id="TimeTable" class="mb-4">

        <thead>
            <tr>
                <th>
                    Monday
                </th>
                <th>
                    Tuesday
                </th>
                <th>
                    Wednesday
                </th>
                <th>
                    Thursday
                </th>
                <th>
                    Friday
                </th>
                <th>
                    Saturday
                </th>
                <th>
                    Sunday
                </th>
            </tr>
        </thead>

    </table>

    <button id="UpdateBlocksBtn" class="rounded ml-4 col-2">Update availability</button>

    <form class="d-inline-block col-4" asp-controller="Meeting" asp-action="JoinMeeting" asp-route-id="@Model.Id">
        <button id="FinishBtn" class="rounded ml-4" disabled >Finish</button>
    </form>

</div>

<style>

    td {
        border: 1px solid black;
        font-size: 16px;
        padding: 1px;
    }

    table {
        border-collapse: collapse;
        text-align: center;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        table-layout: fixed;
    }
</style>


@section Scripts {

    
    <script>

        //This code creates the table, and allows for the selection of cells

        var isMouseDown = false;

        //Need to pass in meeting start hour and end hour!
        var StartHour = $("#StartHourText").val()
        var EndHour = $("#EndHourText").val()

        StartHour = 7;
        EndHour = 21;

        for (let i = StartHour; i <= EndHour; i++) {

            var row = document.createElement("tr");

            Days.forEach(function (day) {

                var td = document.createElement("td");
                var text = document.createTextNode(numberToTime(i) + " - " + numberToTime(i + 1));

                td.setAttribute("day", day.Number);
                td.setAttribute("hour", i);

                td.appendChild(text);
                row.appendChild(td);

            });

            var table = document.querySelector("#TimeTable");
            table.appendChild(row);

        }

        function numberToTime(number) {

            let numStr = String(number);
            while (numStr.length < 2) {
                numStr = "0" + numStr;
            }
            return numStr + "00";

        }

        // Event handler for mouse down on a cell
        $("td").mousedown(function () {
            isMouseDown = true;
            changeCellColor(this);
        });

        // Event handler for mouse over a cell while dragging
        $("td").mouseover(function () {
            if (isMouseDown) {
                changeCellColor(this);
            }
        });

        // Event handler for mouse up anywhere on the page
        $(document).mouseup(function () {
            isMouseDown = false;
        });

        function changeCellColor(cell) {

            var td = $(cell);

            if (td.hasClass("selected-block")) {
                td[0].classList.remove("selected-block");
            } else {
                td[0].classList.add("selected-block");
            }

        }

        $("#UpdateBlocksBtn").on("click", function () {
            UpdateUserBlocks();
            $("#FinishBtn").prop("disabled", false);
        });

        function UpdateUserBlocks() {

            var table = document.querySelector("#TablePanel");
            var selected = table.getElementsByClassName("selected-block");
            var blocks = [];

            for (item of selected) {

                var timeblock = { "Day": item.getAttribute("day"), "Hour": item.getAttribute("hour") }
                blocks.push(timeblock);
            }

            var data = {
                "blocks": blocks
            };

            console.log(data);

            $.ajax({
                type: "POST",
                url: "/User/UpdateUserTimeBlocks",
                dataType: "json",
                data: data,

            }).done(function () {
                //alert("success");
            })
        }

    </script>

    <script>

        $("#CreateUserBtn").on("click", function () {
            $("#TablePanel").slideDown("slow");
            CreateUser();
        });

        function CreateUser() {

            var userName = $("#UserNameInput").val();

            var data = {
                UserName: userName
            }

            $.ajax({
                type: "POST",
                url: "/User/CreateNewUser",
                dataType: "json",
                data: data,
            });
        }

    </script>

}