<h1>Someday I'll show off all my JavaScript Here'</h1>

<div class="d-inline-block col-6">

    <table id="myTable"></table>

</div>


<li>
    <a class="nav-link text-dark" data-bs-toggle="modal" data-bs-target="#LoginModal">Login</a>
</li>
<!-- Modal -->
<div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-body">

                <form method="post" asp-controller="User" asp-action="LogIn">

                    <input type="text" name="UserName" />
                    <input type="submit" />

                </form>

            </div>

        </div>
    </div>
</div>





@*<div class="text-wrap d-inline-block col-5">
    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
</div>
*@

<script>

    //Datables Example

    $.ajax({

        url: "Home/GetAlbums"

    }).done(function (data) {

        console.log(data);

        new DataTable('#myTable', {
            data: data,
            columns: [
                {
                    title: 'Album Id',
                    data: 'AlbumId'
                },
                {
                    title: 'Album Name',
                    data: 'Name'
                },
                {
                    title: 'Songs',
                    data: 'Songs',
                }
            ]
        });

    });

</script>