/*
    Body
    background-color: rgb(255, 240, 240);

    Header, Inputs
    background-color: rgb(255, 200, 200);

    Buttons
    background-color: rgb(255, 142, 142);


*/

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Staatliches', cursive;
    margin-bottom: 60px;
    font-size: 24px;
    margin: auto;
    background-color: rgb(255, 240, 240);
}

main {
    justify-content: center;

}

h2 {
    color: palevioletred;
}

thead {
    color: #6c757d;
}


.smalltext {
    color: #6c757d;
    font-size: 20px;
}




.selected-block {
    background-color: rgb(255, 142, 142);
}

td {
    border-radius: 5px;
    padding: 5px;
}

button {
    background-color: rgb(255, 142, 142);
}

a {
    text-decoration: none;
    color: palevioletred;
}

table {
    border-spacing: 10px;
    border-collapse:separate;
}

header {
    background-color: rgb(255, 200, 200);
}

input {
    background-color: rgb(255, 200, 200);
    padding-left: 10px;
}

.panel {
    display: none;
}

.rounded {
    border-radius: 8px;
}

