/*
    Body
    background-color: rgb(255, 240, 240);

    Header, Inputs
    background-color: rgb(255, 200, 200);

    Buttons
    background-color: rgb(255, 142, 142);


*/

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Staatliches', cursive;
    margin-bottom: 60px;
    font-size: 24px;
    margin: auto;
    background-color: rgb(255, 240, 240);
}

.logo {
    color: palevioletred;
}

main {
    justify-content: center;

}

h2 {
    color: palevioletred;
}

thead {
    color: #6c757d;
}

.smalltext {
    color: #6c757d;
    font-size: 20px;
}

.selected-block {
    background-color: rgb(255, 142, 142);
}

td {
    padding: 5px;
    border: 1px solid black;
    font-size: 16px;
    padding: 1px;
}

button {
    background-color: rgb(255, 142, 142);
}

a {
    text-decoration: none;
    color: palevioletred;
}

table {
    border-spacing: 10px;
    border-collapse:separate;
}

header {
    background-color: rgb(255, 200, 200);
}

input {
    background-color: rgb(255, 200, 200);
    padding-left: 10px;
}

.panel {
    display: none;
}

.rounded {
    border-radius: 8px;
}

table {
    border-collapse: collapse;
    text-align: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    table-layout: fixed;
}

.select-table {
    cursor: cell;
}

a:visited {
    color: firebrick;
}

a:hover {
    color: firebrick;
    text-decoration: underline;
}

a:active {
    color: firebrick;
}
