
<table id="MeetingsTbl"></table>
<span id="WarningMessage"></span>

@section Scripts {


    <script>

        window.onload = function () {

            $.ajax({

                url: "/Meeting/GetUserMeetings",
                error: function (response) {
                    $("#WarningMessage").text(response.responseText)
                }

            }).done(function (data) {

                console.log(data.response);

                new DataTable('#MeetingsTbl', {
                    data: data,

                    columns: [
                        {
                            title: 'Meeting',
                            data: 'Name'
                        }
                    ]
                });

            });

        }

    </script>

}