@model AspNetCore.Data.Models.Meeting

@{
    var meetingLink = "https://localhost:44349/Meeting/MeetingDetails/" + Model.Id;
    var inivteLink = "https://localhost:44349/Home/Join/" + Model.Id;
}


<h1 class="fw-bold">Meeting - @Model.Name</h1>
<h2>Meeting link - @meetingLink</h2>
<h2>Invite link - @inivteLink</h2>

<h2>Users</h2>

@foreach (var user in Model.Users)
{
    <h4>-@user.UserName</h4>
}

<h2>Possible Meeting Times</h2>
<h4 id="MeetingTimeText"></h4>
@section Scripts {

    <script>

        var meetingId = '@Html.Raw(Model.Id)';

        $.ajax({
            url: "/Meeting/FindMeetingTime/" + meetingId

        }).done(function (data) {

            console.log(data);

            $("#MeetingTimeText").text(data.Day + " " + data.Block);


        });

    </script>
}